* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #74ABE2, #5563DE);
  font-family: 'Ropa Sans', sans-serif;
}

button {
  color:rgb(0, 0, 0);
  display: block;
  margin: 20px;
  padding: 7px 7px;
  font: 300 160% langdon;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
} 

button:hover {
  background: #000000;
  color: #ffffff;
}

ul {
  padding: 0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.bubble-btn {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 16px;
  position: relative;
  transition: transform 0.3s;
}

.hover-container {
  position: relative;
}

.hover-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.panel {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.box-transparent {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(100, 100, 100, 0.6);
    padding: 20px;
}