/**
 * make canvasPage slide up with css 
 *
 * then add a second div 
 */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #60939f; 
}

.canvasPage {
	text-align: center;
	background-color: tan;
    border-radius: 20px;
	text-align: center;
    position: relative;

    animation-name: slideCanvasPage;
    animation-duration: 2s;
    animation-iteration-count: 1;
} 
  
@keyframes slideCanvasPage {
  from {top: 3000px;}
  to {top: 0px;}
}

.htDoc {
	display: inline-block;
    border-radius: 20px;
	background-color: green;
	position: relative;
	margin: 0 auto;
}
