html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #74ABE2, #5563DE);
  font-family: 'Ropa Sans', sans-serif;
}

button {
  color:rgb(0, 0, 0);
  display: none;
  margin: 20px;
  padding: 7px 7px;
  font: 300 160% langdon;
  background: #9e969e;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 10px;
} 

button:hover {
  background: #9e969e;
  color: #000000;
  border-radius: 30px;
}

ul {
  padding: 0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#jpanel {
  background: linear-gradient(to top, #9e969e, #e0e0e0);
  height:80vh;
  width:20px;
  position:relative;
  border-radius:25px;
  float:left;
}

#jpanel:hover {
  background: linear-gradient(to top, #e0e0e0, #9e969e);
}

#easel  {
  float:right;
  padding:0px;
  margin-inline-start:0px;
}