body {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

/** about.html */
#about-h1 {
  padding-top: 3vh;
  text-align: center;
  color: white;
}
#about-p {
  text-align: center;
  color: white;
}
.about-page {
  font-size: x-large;
  padding-top: 5vh;
  padding-right: 5vh;
  padding-bottom: 2vh;
  padding-left: 5hv+20px;
}

/** downloads.html */
.downloads-page {
  font-size: x-large;
  padding-top: 20vh;
  padding-right: 20vh;
  padding-bottom: 20vh;
  padding-left: 3hv+20px;
}
#downloads-h1 {
  padding-top: 3vh;
  text-align: center;
  color: white;
}
#downloads-p {
  text-align: center;
  color: white;
}
#downloads-a {
  text-align: center;
  color: white;
}
.downloads-page {
  font-size: x-large;
  padding-top: 5vh;
  padding-right: 5vh;
  padding-bottom: 2vh;
  padding-left: 5hv+20px;
}
#downloads-list {
  display:inline-block;
}
.download-links {
  text-decoration: none;
}
.download-links:hover {
  text-decoration: none;
  background-color: blue;
}